<div class="submission-wrapper" id="submission-<%= track.id %>">
  <div class="submission-left-col-wrapper">
    <div class="submission-play-btn-wrapper" style="background:url(<%= track.artwork_url %>); background-size:100% 100%;">
      <div class="submission-play-btn glyphicon glyphicon-play bind-map" id="<%= track.external_link %>"></div>
    </div>
    <div class="submission-plays-label">
      <% playCount = track.total_plays.to_i %>
      <% if playCount > 0 %>
        plays <%= playCount %>
      <% else %>
        plays 0
      <% end %>
    </div>
  </div>

  <div class="submission-info-wrapper">
    <h3 class="submission-artist"> <%= track.artist %> <h3>
    <h2 class="submission-name">
      <a class="song-name" href="<%= track.external_link %>" style="color:black"> <%= track.track_name %> </a>
    </h2>
  </div>

  <div class="submission-right-col-wrapper">
    <% columbus = track.discovered_by > 0 ? User.find(track.discovered_by).username : "someone" %>
    <div class="submission-users-wrapper" id="popover" data-trigger="hover" data-toggle="tooltip" rel="popover" data-placement="left" title="discovered by <%= columbus %>">
      <%= link_to image_for_user(User.find(track.discovered_by), "submission-poster"), user_path(track.discovered_by) %>
    </div>
    <div class="submission-vote-wrapper">
      <% if logged_in? %>
        <% vote = track.votes.where(user_id: current_user.id).take || current_user.votes.build(votable_id: track.id, votable_type: :Track) %>
      <% else %>
        <% vote = Vote.new %>
      <% end %>
      <%= render vote %>
      <span class="vote-count" id="submission-<%= track.id %>-vote"><%= track.priority %></span>
    </div>
  </div>

</div>
