<div class="main-content">
  <div class="tag-header">
    <div class="tag-header-column">
      <h2 class="tag-title">Groups</h2>
      <a class="fancybox" href="#group-form" style="padding:0px;">
          New Group
      </a>
    </div>
  </div>
  <div class="tag-box-wrapper">
    <% @groups.each do |group| %>
      <%= link_to group_name_path(group.name) do %>
      <div class="tag-box">
        <div class="tag-label">
          <div class="tag-inner-label"><%= group.name %></div>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
</div>

<!--
    <% @groups.each do |group| %>
      <tr>
        <td><%= group.name %></td>
        <td><%= link_to 'Show', group_name_path(group.name) %></td>
        <td><%= link_to 'Edit', edit_group_path(group) %></td>
        <td><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
-->
