<p id="notice"><%= notice %></p>

<div class="main-content">
  <div class="main-feed-wrapper">
    <%= render 'shared/feed', locals: { theDate: 0 } %>
    <div class="load-feed-wrapper">
      <div class="col-md-4"></div>
      <h2 class="col-md-4 load-feed-button">
        <%= form_tag(previousDay_path, method: "get", remote: true) do %>
          <%= hidden_field_tag :day, 1, id: "day-field" %>
          <%= button_tag(type: 'submit', class: "like-button") do %>
            <button class="load-previous">Load More</button>
          <% end %>
        <% end %>
      </h2>
      <div class="col-md-4"></div>
    </div>
  </div>
</div>

<p>
  <strong>Name:</strong>
  <%= @group.name %>
  <p>Created by: <%= @owner.username %></p>
</p>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
