<div class="main-content">
  <div class="tag-header">
    <div class="tag-header-column">
      <%= link_to 'Back to groups', groups_path %>
    </div>
    <div class="tag-header-column">
      <h2 class="tag-title"><%= @group.name %></h2>
    </div>
    <div class="tag-header-column">
      Created by: <%= @owner.username %>
      <%= render 'member_form' if logged_in? %>
    </div>
  </div>
  <div class="main-feed-wrapper">
    <%= render @submissions %>
  </div>
</div>
