<% provide(:title, "Track Sense") %>
<div class="main-content">
  <div class="profile-wrapper col-md-12">
    <div class="profile-header-wrapper row">
      <div class="profile-image-wrapper">
        <%= image_for_user User.find(params[:id]), "profile-image" %>
      </div>

      <div class="profile-name">
        <h2 id="profile-username"><%= User.find(params[:id]).username %></h2>
        <h3>Since <%= User.find(params[:id]).created_at.strftime("%m/%e/%Y") %></h3>
      </div>

      <div class="profile-meta">
        <div class="profile-nav-1">
          <h3><%= @user.votes.count %></h3>
          <%= form_for(@user, remote: true, method: :get) do |f| %>
            <%= hidden_field_tag :show_likes, true %>
            <%= button_tag(type: 'submit') do %>
              <h2 class="profile-nav-item" id="likes-btn">Likes</h2>
            <% end %>
          <% end %>
        </div>
        <div class="profile-nav-2">
          <h3><%= @user.submissions.count %></h3>
          <%= form_for(@user, remote: true, method: :get) do |f| %>
            <%= hidden_field_tag :show_posts, true %>
            <%= button_tag(type: 'submit') do %>
              <h2 class="profile-nav-item" id="posts-btn">Posts</h2>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="profile-songs-wrapper row" id="song-container">
      <% if @submissions %>
      <%= render @submissions %>
      <% end %>
    </div>
  </div>
</div>
