<div class="col-md-12 submission-wrapper">
  <h2>Create a submission</h2>
  <%= form_for(Submission.new) do |f| %>
  <div class="form-wrapper">
    <%= f.label :link, hidden: true %>
    <%= f.text_field :external_link, class: 'form-control', :placeholder => "Soundcloud URL"  %>

    <%= f.label :name, hidden: true %>
    <%= f.text_field :name, class: 'form-control', :placeholder => "Song Name"  %>

    <%= f.label :artist, hidden: true %>
    <%= f.text_field :name, class: 'form-control', :placeholder => "Artist"  %>

    <%= f.label :track_length, hidden: true %>
    <%= f.text_field :name, class: 'form-control', :placeholder => "Track Length (seconds)"  %>
    <!-- Track length should not be a field -->

    <%= f.submit "Submit Song", class: "btn btn-primary" %>
  </div>
  <% end %>
</div>
