<div class="col-md-12 submission-form-wrapper">
  <h2 class="submission-form-header">Post a song</h2>
  <% if logged_in? %>
    <div class="form-wrapper">
      <% sub = current_user.submissions.build %>
      <%= form_for(sub) do |f| %>
        <%= fields_for :tracks do |nested_f| %>
          <%= nested_f.text_field :external_link, class: 'form-control', placeholder: "Soundcloud URL"  %>
        <% end %>
        <%= f.text_field :name, class: 'form-control', :placeholder => "Group Name" %>
        <div class="col-md-12" style="padding: 0px;">
          <%= fields_for :tags do |nested_f| %>
            <%= nested_f.text_field :comma_separated_tags, class: 'form-control', placeholder: "Tags (eg. tag1, tag2)" %>
          <% end %>
        </div>

        <%= f.submit "Submit Song", class: "btn btn-primary" %>
      <% end %>
    </div>
  <% else %>
    <p>Log in or sign up</p>
  <% end %>
</div>
