<div class="submission-wrapper" id="submission-<%= submission.id %>">
  <div class="submission-left-col-wrapper">
    <div class="submission-play-btn-wrapper" style="background:url(<%= submission.track.artwork_url %>); background-size:100% 100%;">
      <div class="submission-play-btn glyphicon glyphicon-play bind-map" id="<%= submission.track.external_link %>"></div>
    </div>
    <div class="submission-plays-label" id="plays-label-<%=submission.id%>">
      <% playCount = submission.play_count.to_i %>
      <% if playCount > 0 %>
        plays <%= playCount %>
      <% else %>
        plays 0
      <% end %>
    </div>
  </div>

  <div class="submission-info-wrapper">
    <h3 class="submission-artist"> <%= submission.track.artist %> <h3>
    <h2 class="submission-name">
      <% displayName = submission.name ? submission.name : submission.track.track_name %>
      <a class="song-name" href="<%= submission.track.external_link %>" style="color:black"> <%= displayName %> </a>
    </h2>
    <div class="submission-tags">
      <% @tagList = submission.tags %>
      <% @tagList.each do |t| %>
        <%= link_to t.name, "/tag/#{t.name}", class: "submission-tag" %>
      <% end %>
    </div>
  </div>

  <div class="submission-right-col-wrapper">
    <div class="submission-users-wrapper" id="popover" data-trigger="hover" data-toggle="tooltip" rel="popover" data-placement="left" title="shared by <%= (User.find(submission.user_id)).username %>">
      <%= link_to image_for_user(User.find(submission.user_id), "submission-poster"), "/users/#{submission.user_id}" %>
    </div>
    <div class="submission-vote-wrapper" id="vote-form-<%= submission.track.id %>">
      <% if logged_in? %>
        <%= render 'votes/vote', track: submission.track %>
      <% else %>
        <a class="fancybox like-button" href="#login-form" style="padding:0px;">
          <i class="vote-icon glyphicon glyphicon-heart"></i>
        </a>
      <% end %>
    </div>
  </div>

</div>
