<div class="submission-wrapper">
  <div class="like-button-wrapper">
    <%= render Vote.new(votable_id: submission.id, votable_type: :Submission) %>
    <span class="vote-count"><%= submission.votes.count %></span>
  </div>
  <div class="submission-info">
    <div class="submission-detail">
      <h2 class="song-name"> <%= submission.name %> </h2>
      <h3 class="song-artist"> <%= submission.artist %> <h3>
    </div>
    <div class="submission-metadata">
      <h6> Posted by <%= User.find(submission.user_id).username %> in Genre
        <% if logged_in? && submission.user_id == current_user.id %>
          <%= link_to "delete", submission, method: :delete, data: { confirm: "Are you sure?" } %>
        <% end %>
      </h6>
    </div>
  </div>
  <div class="right-margin-wrapper">
    <div class="song-time">
      <h3><%= submission.track_length %></h3>
    </div>
    <div class="song-play-btn glyphicon glyphicon-play" id="song-<%= submission.external_link %>"></div>
  </div>
</div>
