<div class="submission-wrapper" id="submission-<%= submission.id %>">
  <div class="submission-left-col-wrapper">
    <div class="submission-play-btn-wrapper" style="background:url(<%= submission.artwork_url %>); background-size:100% 100%;">
      <div class="submission-play-btn glyphicon glyphicon-play bind-map" id="<%= submission.external_link %>"></div>
    </div>
    <div class="submission-plays-label">
      <% playCount = submission.play_count.to_i %>
      <% if playCount > 0 %>
        plays <%= playCount %>
      <% else %>
        plays 0
      <% end %>
    </div>
  </div>

  <div class="submission-info-wrapper">
    <h3 class="submission-artist"> <%= submission.artist %> <h3>
    <h2 class="submission-name"><a class="song-name" href="<%= submission.external_link %>" style="color:black"> <%= submission.name %> </a></h2>
    <div class="submission-tags">
      <% @tagList = submission.tags %>
      <% @tagList.each do |t| %>
        <%= link_to t.name, "/tag/#{t.name}", class: "submission-tag" %>
      <% end %>
    </div>
  </div>

  <div class="submission-right-col-wrapper">
    <div class="submission-users-wrapper" id="popover" data-trigger="hover" data-toggle="tooltip" rel="popover" data-placement="left" data-original-title="shared by <%= (User.find(submission.user_id)).username %>">
      <%= link_to image_for_user(User.find(submission.user_id), "submission-poster"), "/users/#{submission.user_id}" %>
    </div>
    <div class="submission-vote-wrapper">
      <% if logged_in? %>
        <% vote = submission.votes.where(user_id: current_user.id).take || current_user.votes.build(votable_id: submission.id, votable_type: :Submission) %>
      <% else %>
        <% vote = Vote.new %>
      <% end %>
      <%= render vote %>
      <span  class="vote-count" id="submission-<%= submission.id %>-vote"><%= submission.votes.count %></span>
    </div>
  </div>

</div>

<!--

<div class="submission-wrapper" id="submission-<%= submission.id %>">
  <div class="like-button-wrapper">
    <% if logged_in? %>
      <% vote = submission.votes.where(user_id: current_user.id).take || current_user.votes.build(votable_id: submission.id, votable_type: :Submission) %>
    <% else %>
      <% vote = Vote.new %>
    <% end %>
    <%= render vote %>
    <span class="vote-count" id="submission-<%= submission.id %>-vote"><%= submission.votes.count %></span>
  </div>

  <div class="right-margin-wrapper">
    <div class="song-time">
      <% time_string = "" + (submission.track_length/60).to_i.to_s + ":" + (submission.track_length%60).to_i.to_s.rjust(2, '0') %>
      <h3><%= time_string %></h3>
    </div>
    <div class="song-play-btn glyphicon glyphicon-play bind-map" id="<%= submission.external_link %>"></div>
  </div>

  <div class="submission-info">
    <div class="submission-detail">
      <h2 class="song-name"><a href="<%= submission.external_link %>" style="color:black"> <%= submission.name %> </a></h2>
      <h3 class="song-artist"> <%= submission.artist %> <h3>
    </div>
    <div class="submission-metadata">
      <h6 style="display: inline-block"> Shared by <%= User.find(submission.user_id).username %> </h6>
      <% @tagList = submission.tags %>
      <% if @tagList.first %> in <% end %>
      <% @tagList.each do |t| %>
          <%= link_to t.name, "/tag/#{t.name}", class: "submission-tag-label" %>
          <% if t != @tagList.last %> & <% end %>
      <% end %>
    </div>
  </div>

</div>

-->
