<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container header">
    <%= link_to root_path do %>
      <div class="brand">
        <%= image_tag("TSLogo.png", class: 'brand-image') %>
        <div class="brand-title">
          <h1 class="brand-title-text">Track Sense</h1>
          <h3 class="brand-title-text">Music to your brain</h3>
        </div>
      </div>
    <% end %>

    <div>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
          <button data-toggle="dropdown" aria-expanded="false">
            <%= image_tag("TSMore.png", class: 'nav-more') %>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/about">About</a></li>
            <li><a href="/coming_soon">FAQ</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <% if logged_in? %>
            <button class="nav-profile glyphicon glyphicon-user" data-toggle="dropdown" aria-expanded="false">
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><%= link_to "Profile", current_user %></li>
              <li><a href="/coming_soon">Email Digest</a></li>
              <li><%= link_to "Log out", logout_path, method: "delete" %></li>
            </ul>
          <% else %>
            <%= link_to "login", '#login-form', class: 'fancybox', style: 'color: white' %>
          <% end %>
        </li>
        <li class="nav-item">
          <% if logged_in? %>
            <a class="fancybox" href="#submission-form" style="padding:0px;">
                <%= image_tag("TSAdd.png", class: 'nav-add') %>
            </a>
          <% else %>
            <a class="fancybox" href="#login-form" style="padding:0px;">
              <%= image_tag("TSAdd.png", class: 'nav-add') %>
            </a>
          <% end %>
        </li>
      </ul>
    </div>
  </div>

  <div class="player col-md-12">
    <div class="col-md-2">
    </div>

    <div class="col-md-8">
      <div class="player-controls">
        <span id="custom-player-prev" class="player-back glyphicon glyphicon-step-backward"></span>
        <span id="custom-player-pp" class="player-play glyphicon glyphicon-play"></span>
        <span id="custom-player-next" class="player-forward glyphicon glyphicon-step-forward"></span>
      </div>
      <div class="player-meta">
        Song song Sing Song song Singer song
      </div>
    </div>

    <div class="col-md-2">
    </div>
  </div>
</header>
